/*--------------Topo---------------------*/

.topo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  gap: 40px;
}

.topo_container div {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao {
  display: flex;
  align-items: center;
  border: 2px solid #B2987D;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
 }

.logo_escuro {
  width: auto;
  height: 100px;
  filter: brightness(5);
}

.logo_claro {
  width: auto;
  height: 100px;
  filter: brightness(1);
}

.img_tema {
  width: 25px;
  height: 25px;
}
/*--------------Topo---------------------*/

/*--------------Banner---------------------*/
.secao_banner {
  width: 100%;
  min-height: 35vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/assets/banner-barbearia.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--------------Banner---------------------*/
/*--------------Texto---------------------*/
.secao-texto {
  height: auto;
  min-height: 35vh;
  display: flex;
  align-items: center;
}

.limitar{
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  
.titulo {
  font-size: 40px;
  margin-bottom: 40px;
}

.primeiro_paragrafo {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.segundo_paragrafo {
  line-height: 26px;
  margin-bottom: 60px;
}

.assinatura {
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  font-size: 50px;
  color: #b2987d;
}
/*----------texto-----------------*/


/*--------Responsividade do projeto---------*/
@media (max-width: 768px){
  .texto_banner h1 {
    font-size: 60px;
  }

 .img_card {
    width: 100%;
  }

  .container_texto {
    width: 100%;
    padding: 100px 20px;
  }
}

@media (max-width: 375px){
  .secao_banner {
    background-size: 400px;
  }

  .secao_texto {
  font-size: 12px;
  }
}
/*--------------LandingPage---------------------*/